<p>
    {{products.length}}
</p>
<p>
    {{categories.length}}
</p>

  <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="#"(click)="changeCategory(null)"
                    class="list-group-item list-group-item-action">
                        Tumu
                </a>
                <a *ngFor="let c of categories" href="#" 
                    (click)="changeCategory(c)" 
                    [class.active]="c==selectedCategory"
                    class="list-group-item list-group-item-action"> 
                        {{c.code}}
                </a>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Searc..">
            </div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col-2">Tarih</th>
                    <th scope="col-2">Saat</th>
                    <th scope="col-6">Baslik</th>
                    <th scope="col-2">Kategori</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of products">

                    <td>{{p.date | date: 'dd/MM/yyyy'}}</td>
                    <td>{{p.date | date: 'HH:mm '}}</td>
                    <td>{{p.headline}}</td>
                    <td>{{p.category}}</td>
                </tr>
                </tbody>
              </table>
        </div>
    </div>
  </div>